﻿@page "/Result"

@using STehnology.Scripts
@using Microsoft.EntityFrameworkCore

<h1>Отчеты за пол года, мес.</h1>
<table class="table">
    <thead>
    <tr>
        <th>Имя Фамилия</th>
        <th>Пол Года</th>
        <th>Пол Месяца</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
       
    @foreach (var value in SQLite.Instance.enemysCompany)
    {
        <tr>
            <td>@value.Name</td>
            <td>@GetStoryPayment(value, 6)</td>
            <td>@(Users.GetPayment(value, DateTime.Now).PayTotal / 2)</td>
        </tr>
    }
    </tbody>
</table>

@functions
{
    public float GetStoryPayment(EnemyCompany user, int mouth)
    {
        float money = 0;
        for (int i = 0; i < mouth; i++)
        {
            money += Users.GetPayment(user, DateTime.Now.AddMonths(-i)).PayTotal;
        }
        return money;
    }
}
