﻿@page "/Users"

@using STehnology.Scripts
@using Microsoft.EntityFrameworkCore

<h1>Список сотрудников</h1>
@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Имя Фамилия</th>
            <th>Работает с</th>
            <th>Ставка</th>
            <th>Группа</th>
            <th>Начальник</th>
            <th>Подчиняется</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input @bind-value="userSelected.Name"/></td>
            <td><input type="date" @bind-value="userSelected.JoinedWork"/></td>
            <td><input @bind-value="userSelected.Payment"/></td>
            <td><select @bind="userSelected.IdGroup">
                <option value=""></option>
                @foreach (var group in SQLite.Instance.groupsCompany)
                {
                    <option value="@group.Id">@group.NameGroup</option>
                }
            </select></td>
            <td><select @bind="userSelected.IdEnemy">
                <option value=""></option>
                @foreach (var user in SQLite.Instance.enemysCompany)
                {
                    if (user.Id != userSelected.Id)
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                }
            </select></td>
            <td><select @bind="userSelected.IdParent">
                <option value=""></option>
                @foreach (var user in SQLite.Instance.enemysCompany)
                {
                    if (user.Id != userSelected.Id)
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                }
            </select></td>
            <td>@if (isCreateMode)
                {
                    <button @onclick="CreateUser">Создать</button>
                }
                else
                {
                    <button @onclick="SaveUser">Сохранить</button>
                }</td>
        </tr>
        @foreach (var value in forecasts)
        {
            var group = SQLite.Instance.groupsCompany.FirstOrDefaultAsync(s => s.Id == value.IdGroup).Result;
            var parentUser = SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == value.IdEnemy).Result;
            var parentUser2 = SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == value.IdParent).Result;
            <tr>
                <td>@value.Name</td>
                <td>@value.JoinedWork</td>
                <td>@value.Payment</td>
                <td>@group?.NameGroup</td>
                <td>@parentUser?.Name</td>
                <td>@parentUser2?.Name</td>
                <td><button @onclick="() => SelectUser(value)">Выбрать</button></td>
            </tr>
        }
        </tbody>
    </table>
    
    if(!isCreateMode)
    {
    <h1>Подчиненные</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Имя Фамилия</th>
                <th>Работает с</th>
                <th>Ставка</th>
                <th>Группа</th>
                <th>Начальник</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var value in SQLite.Instance.enemysCompany.Where(u => u.IdParent == userSelected.Id))
            {
                var group = SQLite.Instance.groupsCompany.FirstOrDefaultAsync(s => s.Id == value.IdGroup).Result;
                var parentUser = SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == value.IdEnemy).Result;
                <tr>
                    <td>@value.Name</td>
                    <td>@value.JoinedWork</td>
                    <td>@value.Payment</td>
                    <td>@group?.NameGroup</td>
                    <td>@parentUser?.Name</td>
                </tr>
            }
            </tbody>
        </table>
        
        <h1>Зарплата</h1>
        <p><input type="date" @onchange="SetDate" /> <button @onclick="() => CalcPayment(userSelected, _dateTime)">Расчитать</button></p>
        @if(_paymentInfo != null)
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Базовая ЗП</th>
                    <th>Премия</th>
                    <th>Всего</th>
                    <th>Лет</th>
                    <th>Зп всех сотрудников</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@_paymentInfo.PayUser</td>
                    <td>@_paymentInfo.PayBonus</td>
                    <td>@_paymentInfo.PayTotal</td>
                    <td>@_paymentInfo.TotalYear</td>
                    <td>@CalcSummaru()</td>
                </tr>
                </tbody>
            </table>
        }
    }
}

@code {
    
    private EnemyCompany[] forecasts;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await SQLite.Instance.enemysCompany.ToArrayAsync();
        isCreateMode = true;
    }
}

@functions
{
    private DateTime _dateTime = DateTime.Now;
    private DateTime _dateTimeEnd = DateTime.Now;
    private bool isCreateMode;
    private EnemyCompany userSelected = new EnemyCompany();

    private void SelectUser(EnemyCompany user)
    {
        userSelected = user;
        isCreateMode = false;
    }
    private void SaveUser()
    {
        // SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == userSelected.Id);
        SQLite.Instance.SaveChangesAsync();
        userSelected = new EnemyCompany();
        isCreateMode = true;
    }
    private void CreateUser()
    {
        SQLite.Instance.AddAsync(userSelected);
        var id = SQLite.Instance.SaveChangesAsync();
        userSelected = new EnemyCompany();
    }

    private PaymentInfo _paymentInfo;

    public static PaymentInfo GetPayment(EnemyCompany user, DateTime dateTime)
    {
        if (user.JoinedWork > dateTime)
        {
            //Некорретная дата
            if (user.JoinedWork > dateTime)
            {
                return new PaymentInfo();
            }
        }
        var _userGroup = SQLite.Instance.groupsCompany.FirstOrDefault(u => u.Id == user.IdGroup);
        
        var totalDays = (dateTime - user.JoinedWork).Days;
        var totalMouth = Math.Max((int)Math.Floor(totalDays / 30f), 0);
        var totalYear = Math.Max((totalMouth / 12), 0);
        
        Console.WriteLine($"{totalDays} / {totalMouth} / {totalYear}");

        float curBonus = 0;
        if (_userGroup != null)
        {
            var minBonus = _userGroup.EnemyPlex;
            var maxBonus = _userGroup.MaxPlex;
            curBonus = Math.Clamp(_userGroup.EnemyPlex * totalYear, minBonus, maxBonus);
        }
        var PayUser = user.Payment;
        var PayBonus = (user?.Payment / 100 * curBonus) ?? 0;
        var PayTotal = PayUser + PayBonus;
        
        return new PaymentInfo
        {
            TotalDay = totalDays,
            TotalMouth = totalMouth,
            TotalYear = totalYear,
            
            PayUser = PayUser,
            PayBonus = PayBonus,
            PayTotal = PayTotal
        };
        
    }

    private float CalcPayment(EnemyCompany user, DateTime dateTime) => CalcPayment(user, dateTime, DateTime.Now);
    private float CalcPayment(EnemyCompany user, DateTime dateTime, DateTime dateTimeEnd)
    {
        _paymentInfo = GetPayment(user, dateTime);
        return _paymentInfo.PayTotal;

    }


    private float CalcSummaru()
    {
        float? summaru = 0;
        foreach (var value in SQLite.Instance.enemysCompany)
        {
            summaru += CalcPayment(value, _dateTime);
        }
        return (float) summaru;
    }
    
    public class PaymentInfo
    {
        public int TotalDay;
        public int TotalMouth;
        public int TotalYear;
        
        public int PayUser;
        public float PayBonus;
        public float PayTotal;
    }


    private void SetDate(ChangeEventArgs obj)
    {
        _dateTime = DateTime.Parse(obj.Value.ToString());
        if (_dateTime > _dateTimeEnd) _dateTimeEnd = _dateTime;
    }
    private void SetDateEnd(ChangeEventArgs obj)
    {
        _dateTimeEnd = DateTime.Parse(obj.Value.ToString());
    }
}
